<section class="services-section">
    <div class="container">

        <h2>Explore Our Diverse Range of Quality Products.</h2>
        <div class="services-block">
            <ul class="services-list">
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Pipes and Fittings</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Valves :</span> Ball valves, gate valves, check valves, butterfly valves, etc.</p>
                            <p class="bg-text"><span class="bold-text">Pipes :</span> Steel pipes, PVC pipes, copper pipes, etc.</p>
                            <p class="bg-text"><span class="bold-text">Fittings :</span> Elbows, couplings, tees, adapters, etc.</p>
                        
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Fasteners and Hardware</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Bolts and Nuts :</span>  Hex bolts, carriage bolts, nuts, etc.</p>
                            <p class="bg-text"><span class="bold-text">Screws :</span> Machine screws, wood screws, self-tapping screws, etc.</p>
                            <p class="bg-text"><span class="bold-text">Anchors :</span> Wall anchors, concrete anchors, etc.</p>
                            <p class="bg-text"><span class="bold-text">Clamps :</span> Hose clamps, pipe clamps, etc.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Tools and Machinery</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Hand Tools :</span> Wrenches, pliers, hammers, screwdrivers, etc.</p>
                            <p class="bg-text"><span class="bold-text">Power Tools :</span>  Drills, saws, grinders, etc.</p>
                            <p class="bg-text"><span class="bold-text">Machinery :</span> Industrial machines, equipment, etc.</p>
                        
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title> Seals and Gaskets</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">O-Rings :</span> Various sizes and materials.</p>
                            <p class="bg-text"><span class="bold-text">Gaskets :</span> Flange gaskets, sheet gaskets, etc.</p>
                            <p class="bg-text"><span class="bold-text">Sealing Tape :</span>  Thread seal tape, gasket tape, etc.</p>
                        
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
               
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Safety Equipment</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Personal Protective Equipment (PPE) :</span> Helmets, gloves, goggles, etc.</p>
                            <p class="bg-text"><span class="bold-text">Safety Signage :</span>Caution signs, safety labels, etc.</p>
                            
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Materials</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Raw Materials :</span> Steel, aluminum, plastics, etc.</p>
                            <p class="bg-text"><span class="bold-text">Lubricants and Chemicals :</span> Lubricating oils, adhesives, sealants, etc.</p>
                            
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
               
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Hoses and Tubing</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Industrial Hoses :</span> Rubber hoses, PVC hoses, etc.</p>
                            <p class="bg-text"><span class="bold-text">Tubing :</span> Copper tubing, plastic tubing, etc.</p>
                            
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Electrical and Electronics</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Cables and Wiring :</span> Electrical cables, wiring accessories, etc.</p>
                            <p class="bg-text"><span class="bold-text">Electrical Components :</span> Switches, connectors, etc.</p>
                            
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
             
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Plumbing Supplies</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Plumbing Fixtures :</span> Faucets, sinks, toilets, etc.</p>
                            <p class="bg-text"><span class="bold-text">Pumps :</span> Water pumps, industrial pumps, etc.</p>
                           
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>HVAC (Heating, Ventilation, and Air Conditioning)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">HVAC Systems :</span> Air conditioners, heaters, etc.</p>
                            <p class="bg-text"><span class="bold-text">Ducting and Ventilation :</span> Ducts, vents, fans, etc.</p>
                            
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Custom and Specialty Solutions</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Tailored Products :</span> Products designed or modified to meet unique industry or project requirements.                            </p>
                            <p class="bg-text"><span class="bold-text">Consultation Services :</span>Expert guidance to help customers select or design customized solutions.</p>
                            <p class="bg-text"><span class="bold-text">Fabrication Services :</span> Specialized manufacturing or modification services.</p>
                        
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title> Maintenance and Repair Supplies</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Maintenance Tools :</span> Tools and equipment for routine maintenance and repairs.</p>
                            <p class="bg-text"><span class="bold-text">Replacement Parts :</span> Components for fixing and replacing worn or damaged parts.</p>
                            <p class="bg-text"><span class="bold-text">Lubricants and Cleaning Products :</span> Products to keep machinery and equipment in optimal condition.</p>
                        
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
            </ul>
        </div>
    </div>
</section>