<section class="services-section">
    <div class="container">

        <h2>Experience Our Range of Dedicated Services.</h2>
        <div class="services-block">
            <ul class="services-list">
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Industrial Hardware Supply Services</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">At <span class="bold-text">DK ENGINEER'S,</span> we offer a comprehensive suite of industrial hardware supply services tailored to meet the unique needs of your business. Our commitment to excellence and years of experience in the field set us apart as your trusted partner in sourcing the finest hardware products.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Diverse Product Range</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">Explore our extensive catalog featuring a diverse range of industrial hardware products. From precision tools to heavy machinery, we've got you covered. Finding the right equipment for your specific industry has never been easier.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a  routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Personalized Solutions</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">We understand that every industry is unique, and your needs may vary. That's why we provide personalized solutions. Our team of experts is here to assist you in selecting the right hardware that precisely fits your requirements. </p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Quality Assurance</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">Quality is our hallmark. We take pride in delivering products that meet the highest industry standards. Rest assured, when you choose <span class="bold-text">DK ENGINEER'S,</span> you're choosing quality you can trust."
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a  routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
               
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Timely Delivery</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">We understand the importance of efficiency in your operations. Our streamlined supply chain ensures timely delivery of your hardware, so you can keep your projects on track.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Exceptional Customer Service</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">Our commitment to your satisfaction extends beyond the sale. Our dedicated customer service team is always ready to assist you with any questions or concerns you may have.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a  routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
               
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Competitive Pricing</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">We believe in offering top-quality products at competitive prices. You'll find that our rates are among the best in the industry, allowing you to maximize your budget.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Sustainability Initiatives</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">We're actively working towards a greener future. Ask us about our sustainability initiatives and eco-friendly product options.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a  routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
             
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Partnership for Success</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">When you choose <span class="bold-text">DK ENGINEER'S,</span> you're not just buying hardware; you're partnering with a company dedicated to your success. We're here to support your growth and productivity.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Contact Us</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">Ready to experience the <span class="bold-text">DK ENGINEER'S,</span>  difference? Contact us today to discuss your hardware supply needs. We're here to serve you.</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a  routerLink="/contact" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
           
            </ul>
        </div>
    </div>
</section>