<footer class="footer">

    <div class="container">
        <div class="top-footer">
            <ul class="footer-part">
                <li class="logo-block">
                    <a routerLink="home" title="CTN" class="logo"><img src="../../../assets/images/logo.png"> </a>
                    <ul class="social-icon">
                        <li><a href="/" title="Facebook"><img src="../../../assets/images/facebook-circle.svg"> </a>
                        </li>
                        <li><a href="/" title="Twitter"><img src="../../../assets/images/twitter-circle.svg"> </a>
                        </li>
                        <li><a href="/" title="Linkedin"><img src="../../../assets/images/linkedin-circle.svg"> </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a routerLink="service" routerLinkActive="active" title="Service">Service</a></li>
                        <!-- <li><a routerLink="product" routerLinkActive="active" title="Product">Product</a></li> -->
                        <li><a routerLink="Partner" routerLinkActive="active" title="Partner">Partner</a></li>
                        <li><a routerLink="product" routerLinkActive="active" title="Product">Catalog</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Company</h4>
                    <ul>
                        <li><a routerLink="home" routerLinkActive="active" title="Home">Home</a></li>
                        <li><a routerLink="about" routerLinkActive="active" title="About">About</a></li>
                        <!-- <li><a routerLink="Location" routerLinkActive="active" title="Location">Location</a></li> -->
                        <li><a routerLink="Contact" routerLinkActive="active" title="Contact">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Send Inquiry</h4>
                    <p>Send us your inquiry to get the latest updates.</p>
                    <form (ngSubmit)="SendMail()" [formGroup]="SendMailForm">
                    <mat-form-field class="custom-form-field custom-footer-field">
                          <input matInput id="email" placeholder="Enter your Email address" formControlName="email">
                          <mat-error *ngIf="SendMailFormSubmitted && formControls['email']?.errors?.required">
                            Email is required
                          </mat-error>
                          <mat-error *ngIf="SendMailFormSubmitted && formControls['email']?.errors?.email">
                            Invalid email format
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-form-field custom-footer-field">
                          <input matInput id="body" placeholder="Enter your message or inquiry" formControlName="body">
                          <mat-error *ngIf="SendMailFormSubmitted && formControls['body']?.errors?.required">
                            Message is required
                          </mat-error>
                    </mat-form-field>

                        <button mat-button class="btn yellow-btn" type="submit">SEND</button>
                      </form>
                      <!-- <a href="mailto:recipient@example.com?subject=Your%20Subject&body=Your%20Message">Send Email</a>
                      <button (click)="sendEmail2()">Send Email</button> -->

                </li>
            </ul>

        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="bottom-block">
                <ul>
                    <li><a routerLink="" title="Terms&Condition"> Terms & Condition</a></li>
                    <li><a routerLink="" title="Privacy Policy">Privacy Policy</a> </li>
                </ul>
                <p>DK Solution's &copy; 2024 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>