<section class="contact-section">
    <div class="container">
        
                <h2>Welcome to DK ENGINEER'S. <br><br> We're here to assist with your hardware needs. <br> Feel free to reach out; we're ready to serve you.</h2>
                <br>
        <ul class="contact-list">
            <li>
                <div class="contact-details" (click)="RedirectToLocation()">
                    <img src="../../../assets/images/address.svg">
                    <h3>DK ENGINEER'S</h3>
                    <p class="bg-text">Shop No : 08, Arihant Complex, Nr. Vishal Mega Mart, G.I.D.C,  Vapi - 396195 (Gujarat)</p>
                </div>
            </li>
            <li>
               
                    <div class="contact-details">
                        <img src="../../../assets/images/contact.svg">
                        <h3>Helpdesk</h3>
                        <p class="bg-text">Email:  <a href="mailto: dkengineers6@gmail.com" title="Mail"> dkengineers6@gmail.com</a> </p>
                        <p class="bg-text">Phone:  <a href="tel:7096907413" title="Call"> 7096907413 / 8849861164</a> </p>
                    
                </div>
            </li>
        </ul>
    </div>
</section>