<footer class="footer">

    <div class="container">
        <div class="top-footer">
            <ul class="footer-part">
                <li class="logo-block">
                    <a routerLink="home" title="CTN" class="logo"><img src="../../../assets/images/logo.png"> </a>
                    <ul class="social-icon">
                        <li><a href="/" title="Facebook"><img src="../../../assets/images/facebook-circle.svg"> </a>
                        </li>
                        <li><a href="/" title="Twitter"><img src="../../../assets/images/twitter-circle.svg"> </a>
                        </li>
                        <li><a href="/" title="Linkedin"><img src="../../../assets/images/linkedin-circle.svg"> </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a routerLink="service" routerLinkActive="active" title="Service">Service</a></li>
                        <!-- <li><a routerLink="product" routerLinkActive="active" title="Product">Product</a></li> -->
                        <li><a routerLink="Partner" routerLinkActive="active" title="Partner">Partner</a></li>
                        <li><a routerLink="product" routerLinkActive="active" title="Product">Catalog</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Company</h4>
                    <ul>
                        <li><a routerLink="home" routerLinkActive="active" title="Home">Home</a></li>
                        <li><a routerLink="about" routerLinkActive="active" title="About">About</a></li>
                        <!-- <li><a routerLink="Location" routerLinkActive="active" title="Location">Location</a></li> -->
                        <li><a routerLink="Contact" routerLinkActive="active" title="Contact">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Send Inquiry</h4>
                    <p>Send us your inquiry to get the latest updates.</p>
                    <mat-form-field class="custom-form-field custom-footer-field">
                        <input matInput placeholder="Enter your message or inquiry">
                    </mat-form-field>

                    <button mat-button class="btn yellow-btn">SEND</button>

                </li>
            </ul>

        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="bottom-block">
                <ul>
                    <li><a routerLink="" title="Terms&Condition"> Terms & Condition</a></li>
                    <li><a routerLink="" title="Privacy Policy">Privacy Policy</a> </li>

                </ul>
                <p>DK Solutions &copy; 2023 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>